@{
    ViewData["Title"] = "Home";

    var message = ViewData["Message"] as Message;
    if (message != null && !String.IsNullOrEmpty(message.MessageText))
    {
        <partial name="_MessagePartial" model="@message" />
    }
}

<div class="text-center">
    <h1 class="display-4">Olá <b>@(User.Identity?.Name)</b></h1>
    <br>
    <h2>Acesse:</h2>
    <div class="container flexbox">
        <br >
        <div class="row">
            <button class="btn btn-success btn-lg">Sua lista de Patrocinadores</button>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-secondary btn-lg" asp-controller="Patrocinadores" asp-action="ListarTodos">Todos os Patrocinadores</a>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-primary btn-lg" asp-controller="Patrocinadores" asp-action="Registrar">Novo Patrocinador</a>
        </div>
    </div>
</div>

<script>
    function listarTodos()
    {
        window.location.href = "Patrocinadores"
    }

    function NovoPatrocinador()
    {
        window.location.href = "Patrocinadores/Registrar"
    }
</script>